
.alignment {
    font-family: monospace;
    text-align: left;
    --kept: hsl(198, 71%, 68%);
    --replaced: hsl(41, 100%, 75%);
    --inserted: hsl(0, 71%, 84%);
    --neutral: "#fff";
    font-size: 16px;
}
span.reference, span.predicted {
    white-space: pre;
}
.kept.reference, .kept.predicted {
    background-color: var(--kept);
}
.deleted.reference {
    background-color: var(--inserted);
}
.deleted.predicted::after, .inserted.reference::after {
    content: "-";
}
.inserted.predicted {
    background-color: var(--inserted);
}
.replaced.reference, .replaced.predicted{
    background-color: var(--replaced);
}
